<script>
import {display} from 'System/display';
import {game} from 'Game';
import {settings} from 'Settings';
import Button from "Comp/Button.svelte";

$: que = $game.round.questions[ $game.session.question ];

</script>

<div id = "head">
	
		
	{#if $display.subscreen === "progress"}
		<div/>
		<Button 
			style = "tiny"
			fce = {()=>{
				display.screen(undefined, "");
			}}
		>
			X Back
		</Button>
		
	{:else if $game.phase === "final_question" || $game.phase === "final_answer" }
		
		{#if window.debug}		
			<div class = "tiny">
				{que.category} / {que.level} / {que.question} / <span class = "spoiler"> &nbsp {que.correct_choice + 1} &nbsp </span>
			</div>
		{:else}
			<div/>
		{/if}
		
		<Button 
			style = "tiny"
			fce = {()=>{
				display.screen(undefined, "progress");
			}}
		>
			{$game.session.final_right + $game.session.final_wrong + 1} / {settings.gameplay.final_questions}

		</Button>
	
	
	{:else if $game.phase === "question" || $game.phase === "answer" }
		{#if $game.mode.catags !== "cats"}
			<div class = "tiny">
				{que.category_name}
			</div>
		{/if}
		
		{#if window.debug}		
			<div class = "tiny">
				{que.category} / {que.level} / {que.question} / <span class = "spoiler"> &nbsp {que.correct_choice + 1} &nbsp </span>
			</div>
		{:else}
			<div/>
		{/if}
		
		<Button 
			style = "tiny"
			fce = {()=>{
				display.screen(undefined, "progress");
			}}
		>
			{#if $game.mode.gameplay === "unending"}
				Q: {$game.session.question+1}/{$game.mode.questions}; R: {$game.session.round+1}/∞	
			{:else}
				Q: {$game.session.question+1}/{$game.mode.questions}; R: {$game.session.round+1}/{$game.mode.rounds}
			{/if}
	
		</Button>
	
	{/if}
</div>

<style>
#head {
/*	text-align: right;*/
	display: flex;
	flex-direction: row;
	padding-bottom: 1em;
	justify-content: space-between;
}
</style>