<script>
import {display} from 'System/display';
import Button from "Comp/Button.svelte";
</script>

	{#each $display.right.filter( a => a.link_index ) as {type, text, exec, link_index, disabled} (link_index) }
		{#if type === "link"}
			<Button 
				key = {link_index}
				style = "reply"
				fce = {exec}
				{disabled}
			>
				{@html text}
			</Button>
		{/if}
	{/each}
	

<style>
</style>