<script>
import {display} from 'System/display';
import {game} from 'Game';

import Button from "Comp/Button.svelte";
import Loading from "Comp/Loading.svelte";

import Map from "./Map.svelte";
import Image from "./Image.svelte";

import Texts from "./Game_texts.svelte";
import Links from "./Game_links.svelte";
import Progress from "./Game_progress.svelte";
import Head from "./Game_head.svelte";

</script>

{#await $display.promise }
	<div id = "loading">
		<Loading/>
		<br>
		<br>
		...loading&nbsp&nbsp
	</div>
{:then}


	<div id = "game">
		<div id = "left">
			{#if $display.left.type === "avatar"}
				<div id = "avatar">
					AVATAR
				</div>
			{:else if  $display.left.type === "img"}
				<Image src = {$display.left.source}/>	
			{:else if  $display.left.type === "map"}
				<Map src = {$display.left.source}/>	
			{/if}
		</div>

		<div id = "right">
			<Head/>	
			{#if $display.subscreen === "progress"}
				<Progress/>
			{:else}
				<Texts/>
				<br>
				<Links/>
			{/if}
		</div>
	</div>
	

{/await}	



<style>
.speech {
	display: block;
	padding-bottom: 0.5em;
}

#loading {
	text-align: center;
}

#left {
	/*background-color: yellow;*/
	padding: 2em;
}

#right {
	width: 80ch; /*TODO*/
/*	background-color: gray;*/
	padding: 2em;
}

#game {
	display: flex;
	flex-direction: row;
}
</style>