<script>
import {display} from 'System/display';
import Button from "Comp/Button.svelte";
import Graph from "Comp/Donut_graph.svelte";
import {game} from 'Game';
import {settings} from 'Settings';

$: unending_total = ($game.session.wrong + $game.session.right) -  $game.round.right -  $game.round.wrong + $game.mode.questions;

// <!--				$game.mode.questions - ($game.round.right +  $game.round.wrong), -->
</script>


<h2>Points: {$game.session.points}</h2>
<h2>Transformations: {$game.session.transformations.length}</h2>
<h2>Money: {$game.session.money}</h2>

<div id = "progress">

	{#if !$game.session.final_round}
		<div class = "item">
			<h2> 
				Round {$game.session.question+1}/{$game.mode.questions}
			</h2>

			<Graph input = {[
				$game.round.right,
				$game.round.wrong,
				$game.mode.questions - ($game.round.right + $game.round.wrong),
			]}/>

		</div>
	{/if}
	
	{#if $game.mode.gameplay === "unending"}
		<div class = "item">
			<h2> 
				Game {$game.session.round+1}/∞	
			</h2>
			<Graph input = {[
				$game.session.right,
				$game.session.wrong,

			]}/>
		</div>
	{:else}
		<div class = "item">
			<h2> 
				Game {$game.session.round+1}/{$game.mode.rounds}
			</h2>
			<Graph input = {[
				$game.session.right,
				$game.session.wrong,
				($game.mode.questions * $game.mode.rounds) - ($game.session.right + $game.session.wrong),
			]}/>
		</div>
	{/if}
	
	{#if $game.session.final_round}
		<div class = "item">
			<h2> 
				Final Round {$game.session.final_right + $game.session.final_wrong +1} / {settings.gameplay.final_questions}
			</h2>

			<Graph input = {[
				$game.session.final_right,
				$game.session.final_wrong,
				settings.gameplay.final_questions - ($game.session.final_right + $game.session.final_wrong),
			]}/>

		</div>
	{/if}

</div>

<br>
<br>
{#if $game.mode.schadenfreude}
⚠️ correct answers of the player are counted as incorrect answers of the character
{/if}
<br>
<br>
{#if settings.extra.gaslight}
⚠️ gaslight mode makes the game extra unfair
{/if}



<style>
#progress {
	display: flex; 
	flex-direction: row;
	justify-content: space-evenly
}
h2 {
	text-align: center;
}
item {
	text-align: center;
}
</style>