<script>
import {display} from 'System/display';
import Button from "Comp/Button.svelte";
</script>

	{#each $display.right as {type, text} }
		{#if type === "link"}
			<!-- nothing -->
		{:else if type === "w"}
			<span class = "speech w">
				{@html text}
			</span>
		{:else if type === "pc"}
			<span class = "speech pc">
				{@html text}
			</span>
		{:else if type === "txt"}
			<span class = "txt">
				{@html text}
			</span>
		{:else}
			<span>
				{@html text}
			</span>
		{/if}
	{/each}

<style>
.speech {
	display: block;
	padding-bottom: 0.5em;
}
</style>