<script>
import Button from "Comp/Button.svelte";
import {display} from 'System/display';
import {clamp} from 'Dh';

import Number_input from "Gui/game/Start_number_input.svelte";
import Difficulty from "Gui/game/Start_difficulty.svelte";

import {game} from 'Game';


function confirm(){
	game.start();
	game.next();
}

function cancel(){
	display.back();
}

game.phase(""); //TODO - probably stupid  TEMPFIX

</script>

<div class = "row">
	<div class = "column left">
		<div class = "section">
			<h2>Gameplay</h2>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.gameplay}
					value = rounds
					name = gameplay
				>
					<Number_input prop = rounds/> rounds, each  <Number_input prop = questions/> questions
			</label>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.gameplay}
					value = unending
					name = gameplay
				>
				rounds with <Number_input prop = questions/> questions will continue until the player decides to stop
			</label>
		</div>


		<div class = "section">
			<h2>Transformations</h2>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.transform}
					value = stan
					name = transform
				>
				 transformations randomly drawn, one could be exchanged
			</label>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.transform}
					value = leev
					name = transform
				>
				 player can choose from offered transformations
			</label>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.transform}
					value = alta
					name = transform
				>
				 transformed either way, correct answers allow to choose prefered transformations
			</label>
		</div>


	</div>
	<div class = "column right">

		<div class = "section">
			<h2>Questions</h2>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.catags}
					value = cats
					name = catags
				>
				categories
			</label>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.catags}
					value = tags
					name = catags
				>
				tags
			</label>
			<label>
				<input
					type = radio 
					bind:group = {$game.mode.catags}
					value = mix
					name = catags
				>
				random mix
			</label>
		</div>

<!--
		<div class = "section">
			<h2>Difficulty</h2>
			<Difficulty/>
		</div>	
--->

		<div class = "section">
			<h2>Other</h2>
			<div>
				Difficulty: <Difficulty/>
			</div>
			<label>
				<input
					type = checkbox 
					name = schadenfreude
					bind:checked={$game.mode.schadenfreude}
				>
				correct answers of the player are counted as incorrect answers of the character
			</label>
			
		</div>	
	
	</div>
</div>
	

<Button 
	key = {1}
	style = "submenu"
	fce = {confirm}
>
	START
</Button>

<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Cancel
</Button>


<style>
.colum {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	padding: 1em;
	padding-bottom: 2em;
	flex-wrap: wrap;
	justify-content: space-around;
}

.left {
    max-width: 60ch;
}

.right {
    max-width: 40ch;
}

h2 {
	text-align: center;
}

/*
#two_columns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 2em;
	gap: 2em;
	
}
*/

.section{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
	row-gap: 0.5em;
}

.number{
	width: 12ch;
	text-align: center;
	color: var(--bgr); 
	background-color: var(--high);
}


select{
	color: var(--bgr); 
	background-color: var(--high);
	text-align: center;
}

input{
	accent-color: var(--high); 
}

.lab{
    display: flex;
    justify-content: space-between;
	gap: 1ch;
}

label{
   cursor: pointer;
} 

</style>