<script>
import {game} from 'System/game/game';
import {game_default} from 'Src/variables';
import {clamp} from 'Dh';
import {settings} from 'Settings';

export let prop;

function execute(value){
	if( isNaN(value) ) value = game_default.mode[prop];
	value = clamp(value, settings.gameplay[prop].min, settings.gameplay[prop].max);
	const store = $game.mode; 
	store[prop] = value;
	game.mode(store);
}



</script>


<div class = "box"> 
	<button 
		on:click={()=>execute(  $game.mode[prop] - 1  )} 
	>
		◄
	</button>
	
	<input
		type = text 
		name = prop
		bind:value={$game.mode[prop]}
		on:click = {e => e.target.select()}
		on:change = {e => execute(+e.target.value)}
		on:keydown|stopPropagation
	>
	
	<button 
		on:click={()=>execute(  $game.mode[prop] + 1  )} 
	>
		►
	</button>
</div>

<style>
.box{
	display: inline-block;
}

 input{
	color: var(--bgr); 
	background: var(--high); 				
    width: 3ch;
    text-align: center;
    border: none;
    font-weight: bold;
	cursor: pointer;
}


button{
	color: var(--high); 
    text-align: center;
	
	width: 3ch;
	border: none;
	background: none;
	
	padding: 0.5ch;
	margin: 0;
	cursor: pointer;
}

button:hover{
	color: var(--bgr); 
	background: var(--high); 		
}

</style>