<script>
import {game} from 'System/game/game';
import {game_default} from 'Src/variables';
import {clamp} from 'Dh';

function execute(change){
	let value = $game.mode.difficulty + change;
	if(value < -1) value = 1;
	if(value > 1) value = -1;
	
	const store = $game.mode; 
	store.difficulty = value;
	game.mode(store);
}
</script>


<div class = "box"> 
	<button 
		on:click={()=>execute(-1)} 
	>
		◄
	</button>
	
	<span 
		class = "value"
		on:click={()=>execute(+1)}	
	>
		{#if $game.mode.difficulty === 0}
			Normal
		{:else if $game.mode.difficulty === 1}
			Harder
		{:else if $game.mode.difficulty === -1}
			Easier
		{:else}
			Error
		{/if}
	</span>
	
	<button 
		on:click={()=>execute(+1)} 
	>
		►
	</button>
</div>

<style>
.box{
	display: inline-block;
}

.value{
	color: var(--high); 
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.value:hover{
	color: var(--bgr); 
	background: var(--high); 		
}

/*
 input{
	color: var(--bgr); 
	background: var(--high); 				
    width: 3ch;
    text-align: center;
    border: none;
    font-weight: bold;
	cursor: pointer;
}
*/


button{
	color: var(--high); 
    text-align: center;
	
	width: 3ch;
	border: none;
	background: none;
	
	padding: 0.5ch;
	margin: 0;
	cursor: pointer;
}

button:hover{
	color: var(--bgr); 
	background: var(--high); 		
}

</style>