ck<script>
import Button from "Comp/Button.svelte";

export let lock; 

console.error("x")
console.error(lock)

//let lock = clone(settings.extra.emla_lock);

/*
function confirm(){
	settings.extra.emla_lock = lock;
	save(settings);
	display.back();
}

function cancel(){
	display.back();
}


console.log(lock)
console.log(settings)
*/

let checked = false;
let promise;
	
function check(){
	
	async function emla_lock(){
		const url = `https://api.emlalock.com/add?userid=${lock.user_id}&apikey=${lock.api_key}&value=S1&text=${"Who Wanna Be a Bimbo - connection checked"}`;
		
		const response = await fetch(url);
		const data = await response.json();
		
		if (data.error) {
			throw new Error( `ERROR: ${data.error}`);
		} else {
			return `EmlaLock connected`;
		}
	}
	
	promise = emla_lock();
	checked = true;
	
}






/*


const user_id = "ld2xu5pw97txv44";
const api_key = "fm26weefpd";
const value = "D1";
const text = `Who Wanna Be a Bimbo sends regards ;-)`;
const url = `https://api.emlalock.com/add?userid=${user_id}&apikey=${api_key}&value=${value}&text=${text}`;




async function EmlaLock(plus = 0, minus = 0){

	console.log("emlock");
	const response = await fetch(url);
	const data = await response.json();
	console.log(data);
	
	
	if (data.error) {
		throw new Error( `EmlaLock ERROR: ${data.error}`);
	} else {
		return `EmlaLock `;
	}
}
*/
 



</script>

<h2>EmlaLock</h2>

 
 
	<label>
		<input
			type = checkbox 
			name = enable
			bind:checked={lock.enable}
		>
		enable <a href="https://www.emlalock.com/" target="_blank">EmlaLock</a> 
	</label>


	<label>
		User ID*: 
		<input
			type = text 
			class = field
			bind:value={lock.user_id}
			on:click = {e => e.target.select()}
			on:keydown|stopPropagation
		>
	</label>

	<label>
		API key*: 
		<input
			class = field
			type = text 
			bind:value={lock.api_key}
			on:click = {e => e.target.select()}
			on:keydown|stopPropagation
		>
	</label>

	<i>(*EmlaLock web > Setting > API)</i>
	
	<label>
		<div>Wrong answer: +{lock.plus} seconds</div>
		
		<input
			type = range 
			bind:value={lock.plus}
			step = 5
			min = 0
			max = 60
		>
	</label>
	
	<label>
		<div>Right answer: -{lock.minus} seconds</div>
		
		<input
			type = range 
			bind:value={lock.minus}
			step = 5
			min = 0
			max = 60
		>
	</label>
	
	{#if checked}
		{#await promise}
			<span>...waiting</span>
		{:then text}
			<span style="color:green">{text}</span>
		{:catch error}
			<span style="color: red">{error.message}</span>
		{/await}
	{/if}
	
	<Button 
		style = "big"
		fce = {check}
	>
		Check
	</Button>
 


<!--

<Button 
	key = {1}
	style = "submenu"
	fce = {confirm}
>
	Confirm
</Button>

<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Cancel
</Button>

-->




<style>





.field{
	color: var(--bgr); 
	background: var(--high); 	
	width: 20ch;
	text-align: center;
    border: none;
    font-weight: bold;
	cursor: pointer;
}
</style>