<script>
import Button from "Comp/Button.svelte";

import {display} from 'System/display';
import {settings, save} from 'System/settings';
import {settings_default} from "Src/variables";
import {clone} from 'Dh';

import Lock from "Gui/settings/Emla_lock.svelte";

let extra = clone(settings.extra);


function confirm(){
	settings.extra = {
		...extra,
	}
	save(settings);
	display.back();
}

function cancel(){
	display.back();
}

function restore(){
	extra = clone(settings_default.extra);
}


</script>


<div id = "two_columns">
	
	<div class = "section">
			<Lock lock = {extra.emla_lock}/>
	</div>
	
	<div class = "section">
	<h2>Gaslight mode </h2>
 		<label>
			<input
				type = checkbox 
				name = gaslight
				bind:checked={extra.gaslight}
			>
			make the game extra unfair <br><small>(will cause bug-like behaviour)</small>
		</label>
	</div>
</div>





<Button 
	key = {1}
	style = "submenu"
	fce = {confirm}
>
	Confirm
</Button>

<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Cancel
</Button>

<Button 
	key = {3}
	style = "submenu"
	fce = {restore}
>
	Default
</Button>




<!-----






---->

<style>
#two_columns{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 2em;
	gap: 2em;
}

.section{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
	row-gap: 0.5em;
}


</style>