<script>
import {display} from 'System/display';
import {settings, save} from 'System/settings';
import Button from "Comp/Button.svelte";
import {settings_default} from "Src/variables";
import {popup} from "Libraries/popup/index";


function everything_to_default(approved){
	if(approved){
		save(settings_default);	
		location.reload();
	}
}

function cancel(){
	display.back();
}




</script>


<Button 
	style = "big"
	fce = {()=> popup.confirm(`Reset ALL Settings to Default?`, everything_to_default)}
>
	Reset ALL Settings to Default
</Button>



<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Back
</Button>







<style>
</style>