<script>
import {display} from 'System/display';
import {settings, save} from 'System/settings';
import Button from "Comp/Button.svelte";


import {var_to_string, clone} from 'Dh';
import {settings_default} from "Src/variables";


let questions = clone(settings.questions);


function confirm(){
	settings.questions = {
		...settings.questions,
		...questions,
	}
	save(settings);
	display.back()
}

function cancel(){
	display.back();
}

function restore(){
	questions = clone(settings_default.questions);
}


import {categories} from 'Data/questions/index';


$: desc = categories[questions.database].meta.desc;
$: cat_no = categories[questions.database].questions.length;
$: que_no = categories[questions.database].questions.reduce( (sum, cat) => sum + cat[0].length + cat[1].length + cat[2].length, 0 );


</script>


<div id = "column">

<label class = "top">
	<span class = "data">
		Database: 
	</span>
	<select id = "database" class = "data"  name = "database" bind:value={questions.database}>
		{#each Object.keys(categories) as key}
			<option value = {key}>
				{categories[key].meta.name}
			</option>
		{/each}
	</select>
	<div class = "data_desc">
		{#if questions.database === "open_trivia"}
			{desc}  (∼24 categories;  ∼4,098 questions)
		{:else}
			{desc}  ({cat_no} categories; {que_no} questions)
		{/if}
	</div>
</label>


<br>

{#if questions.database === "open_trivia"}
	<label>
		<input
			type = checkbox 
			disabled = disabled
			checked = checked
		>
		enable questions downloaded from the Internet (currently {window.navigator.onLine ? "online" : "offline"})
	</label>

{:else}
	<label>
		<input
			type = checkbox 
			name = enable_maps
			bind:checked={questions.enable_maps}
		>
		enable questions with maps 
	</label>

	<label>
		<input
			type = checkbox 
			name = enable_images
			bind:checked={questions.enable_images}
		>
		enable questions with images downloaded from the Internet (currently {window.navigator.onLine ? "online" : "offline"}) 
	</label>

	<label>
		<input
			type = checkbox 
			name = prefer_hd
			bind:checked={questions.prefer_hd}
		>
		perfer larger images (if available)
	</label>
	
	<label>
		<input
			type = checkbox 
			name = enable_serious
			bind:checked={questions.enable_serious}
		>
		enable serious topics and recent events 
	</label>


{/if}

<br>

<Button 
	style = "big"
	fce = {()=> display.screen(undefined, undefined, "tag_weight")}
>
	Tag Weight
</Button>

<Button 
	style = "big"
	fce = {()=>{
								//TODO DEVMODE
		confirm();
		display.screen("questions_viewer");
	}}
>
	#Question Viewer
</Button>


</div>

<Button 
	key = {1}
	style = "submenu"
	fce = {confirm}
>
	Confirm
</Button>

<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Cancel
</Button>

<Button 
	key = {3}
	style = "submenu"
	fce = {restore}
>
	Default
</Button>





<style>
#column{
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	padding-bottom: 2em;
	gap: 0.5em;
}


.top{
	text-align: center;
}

.data{
	font-size: 120%;
}

.data_desc{
	padding: 1ch;
	font-style: italic;
}

select{
	color: var(--bgr); 
	background-color: var(--high);
	text-align: center;
}

input{
	accent-color: var(--high); 
}

label{
	cursor: pointer;
}
</style>