<script>
import {onDestroy} from 'svelte';

import {display} from 'System/display';
import {settings, save} from 'System/settings';
import Button from "Comp/Button.svelte";

import {var_to_string, clone} from 'Dh';
import {settings_default} from "Src/variables";


let style = clone(settings.style);

onDestroy(() => {
	colors.forEach( ({key}) => change_color(key, settings.style[key]) );
});


function confirm(){
	settings.style = {
		...settings.style,
		...style,
	}
	save(settings);
	display.back()
}

function cancel(){
	display.back();
}

function restore(){
	style = clone(settings_default.style);
	colors.forEach( ({key}) => change_color(key, style[key]) );
}





//COLORS 
import {color_schemes} from "Data/misc/color_schemes";
import {toHEX, toHSLA} from 'Libraries/color/index';

const root = document.querySelector(":root");

function change_color(key, value){
	style[key] = value;
	root.style.setProperty(`--${key}`,  value);
}

function change_color_scheme(scheme){
	colors.forEach( ({key}) => change_color(key, color_schemes[scheme][key]) );
}

const colors = [
	{name: "Highlight", key: "high"},
	{name: "Text", key: "text"},
	{name: "Background", key: "bgr"},
];


//FLAVOUR
import {names} from 'Data/names/index';
import {currencies} from 'Data/misc/currencies';

/*

Hi there! Any thumbnail size that's a 16:9 aspect ratio should work fine, I recommend at least 1200x675 though, and I think the best size would be 1920x1080.
630x500

*/

</script>

<div id = "two_columns">
		
	<div class = "section">
		<h2>Colours</h2>
		{#each colors as {key, name} }
			<label>
				<input 
					type = color
					value = {toHEX(style[key])}
					on:input = {(e) => change_color(key, e.target.value)}
				/>
				{name}
			</label>
		{/each}
	
		<label>
		  <select id="scheme" name="scheme" on:input = {(e) => change_color_scheme(e.target.value)}>
			{#each Object.keys(color_schemes) as key}
				<option value = {key}>
					{var_to_string(key)}
				</option>
			{/each}
		  </select>
		</label>
	</div>
	
	<div class = "section">
	</div>

	<div class = "section">
		<h2>Units</h2>
		<label>
			<input
				type = radio 
				bind:group = {style.units}
				value = si
				name = units
			>
			SI units (metres)
		</label>
		<label>
			<input
				type = radio 
				bind:group = {style.units}
				value = us
				name = units
			>
			US customary (feet)
		</label>
	</div>

	<div class = "section">
		<h2>Flavour</h2>
		<table>
			<tr>
				<td>
					<label class = "lab" for = "names">
						<div class = "lab_name">
						Names: 
						</div>
					</label>
				</td>
				<td>
					<div class = "lab_input">
						<select id="names" name="names" bind:value={style.names}>
							{#each Object.keys(names) as key}
								<option value = {key}>
									{var_to_string(key)}
								</option>
							{/each}
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<label class = "lab" for = "currency">
						<div class = "lab_name">
							Currency: 
						</div>
					</label>
				</td>
				<td>
					<div class = "lab_input">
						<select id="currency" name="currency" bind:value={style.currency}>
							{#each Object.keys(currencies) as key}
								<option value = {key}>
									{currencies[key].symbol} {currencies[key].name}
								</option>
							{/each}
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<label class = "lab">
						<div class = "lab_name">
							Prize: 
						</div>
					</label>
				</td>
				<td>
					<input 
						type = "number" 
						name = "prize" 
						class = "number"
						max = "1000000"
						bind:value = {style.prize}
						on:click = {e => e.target.select()}
						on:keydown|stopPropagation
					>
				</td>
			</tr>
		</table>
		
	
	</div>

</div>



<Button 
	key = {1}
	style = "submenu"
	fce = {confirm}
>
	Confirm
</Button>

<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Cancel
</Button>

<Button 
	key = {3}
	style = "submenu"
	fce = {restore}
>
	Default
</Button>

<style>
#two_columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 2em;
	gap: 2em;
}

.section{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
	row-gap: 0.5em;
}

.number{
/*
	width: 12ch;
	text-align: center;
	color: var(--bgr); 
	background-color: var(--high);
	*/

	color: var(--bgr); 
	background: var(--high); 	
	width: 20ch;
	text-align: center;
    border: none;
    font-weight: bold;
	cursor: pointer;




}


select{
	color: var(--bgr); 
	background-color: var(--high);
	text-align: center;
	border: none;
    font-weight: bold;
	cursor: pointer;
	width: 100%;
}

input{
	accent-color: var(--high); 
}

.lab{
    display: flex;
    justify-content: space-between;
	gap: 1ch;
}

label{
   cursor: pointer;
} 

</style>