<script>
import {display} from 'System/display';
import Button from "Comp/Button.svelte";
import {user, save} from 'System/user';
import {deliver_tags} from 'System/deliver_data';
import {cap} from 'Dh';

const tags = deliver_tags();

console.warn(tags)
console.warn(user.tags)


let weight = (()=>{
	const out = {};
	Object.keys(tags).forEach( key => {
		if( user.tags[key] !== undefined ) out[key] = user.tags[key];
	});
	return out;
})();

console.error(weight)

function confirm(){
	user.tags = {
		...user.tags,
		...weight,
	}
	save(user);
	display.back()
}

function cancel(){
	display.back();
}

function reset(){
	Object.keys(weight).forEach( key => weight[key] = 10 );
}

function disable(){
	Object.keys(weight).forEach( key => weight[key] = 0 );
}


</script>

<table>
	<tr>
		<td></td>
		<td style = "width: 90px; text-align: left">0 %</td>
		<td style = "width: 60px; text-align: center">100 %</td>
		<td style = "width: 30px"></td>
		<td style = "width: 60px; text-align: center">200 %</td>
		<td style = "width: 90px; text-align: right">300 %</td>
	</tr>

	{#each Object.keys(weight) as key,i}
		<tr>
			<td>
				<label for={key}>
					{cap(tags[key].name || key)}
				</label>
			</td>
		
			<td colspan="5">
				<input 
					type = range 
					bind:value={weight[key]} 
					min = {0} 
					max = {30} 
					id = {key}
				/>
			</td>
		</tr>
	{/each}

</table>

<!--
* 0 % - all categories with this tag are disabled 
-->

<Button 
	style = "big"
	fce = {reset}
>
	All Default
</Button>

<Button 
	style = "big"
	fce = {disable}
>
	All Disabled
</Button>

<Button 
	key = {1}
	style = "submenu"
	fce = {confirm}
>
	Confirm
</Button>

<Button 
	key = {2}
	style = "submenu"
	fce = {cancel}
>
	Cancel
</Button>


<style>
input{
	width: 100%;
	accent-color: var(--high); 
}

</style>