<script>
import {deliver_cats} from 'System/deliver_data';
const cats = deliver_cats();

import {active} from './active';
import Question from "./Question.svelte";

$: cathy = cats[$active.category];


</script>

<h1>{cathy.name}</h1>

{#if $active.display === "all_in_cat"}
	<h2>{["Easy","Medium","Hard"][$active.level]}</h2>
	{#each cathy[$active.level] as a,i}
		<Question 	
			category = {$active.category}
			level = {$active.level}
			question = {i}
		/>
	{/each}

{:else if $active.display === "all"}
	<h2>Easy</h2>
	{#each cathy[0] as a,i}
		<Question 	
			category = {$active.category}
			level = {0}
			question = {i}
		/>
	{/each}

	<h2>Medium</h2>
	{#each cathy[1] as a,i}
		<Question 	
			category = {$active.category}
			level = {1}
			question = {i}
		/>
	{/each}

	<h2>Hard</h2>
	{#each cathy[2] as a,i}
		<Question 	
			category = {$active.category}
			level = {2}
			question = {i}
		/>
	{/each}

{/if}





<style>
	
</style>