<script>
import {deliver_cats, deliver_tags} from 'System/deliver_data';
const tags = deliver_tags();
const cats = deliver_cats();

import {category_weight} from 'System/questions/category_weight';
import {active} from './active';
import {user} from 'System/user';

import Donut from "Comp/Donut_graph.svelte"; 

$: cathy = cats[$active.category];



function open(level){
	if(level === -1){
		active.display("all");
	}else{
		active.teleport(undefined, level);
		active.display("all_in_cat");
	}
}

function open_tag(tag){
	if( !tags[tag] ) return;
	active.tag(tag);
	active.display("tag_details");
}
</script>

<h2> 
{cathy.name}
</h2>

<div id = "box">
	<table>
		<tr>
			<td>Index: </td>
			<td>{$active.category}</td>
		</tr>
		<tr>
			<td>ID: </td>
			<td>{cathy.id}</td>
		</tr>
	<!--
		{#if cathy.shared}
			<tr>
				<td>Shared text: </td>
				<td>{cathy.shared}</td>
			</tr>
		{/if}
	-->
		<tr>
			<td>Tags: </td>
			<td>
				{#each cathy.tags as tag}	
				<span on:click={()=>open_tag(tag)}>{tag}; </span>
				{/each}
			</td>
		</tr>
		<tr>
			<td>Weight: </td>
			<td>
				{@html category_weight($active.category).report}
			</td>
		</tr>

		<tr>
			<td>Questions: </td>
			<td>
				   <span on:click={()=>open(0)}>{cathy[0].length}</span> 
				+ <span on:click={()=>open(1)}>{cathy[1].length}</span> 
				+ <span on:click={()=>open(2)}>{cathy[2].length}</span> 
				= <span on:click={()=>open(-1)}>{cathy[0].length + cathy[1].length + cathy[2].length}</span>
			</td>
		</tr>
	</table>
	
	{#if user.categories[cathy.id][0] + user.categories[cathy.id][1]}
		<Donut input = {user.categories[cathy.id]}/>
	{/if}
</div>

<style>
	span {
		/*padding: 0.5ch 1ch;*/
		color: var(--high); 
		cursor: pointer;
	}
	
	span:hover {
		color: var(--bgr); 
		background: var(--high); 
	}

	td {
		padding: 0.5ch 1ch;
		vertical-align: baseline;

	}
	
	table {
		margin: 2ch 0ch;
	}
	
	#box {
		display: flex;
		flex-direction: row;
	}
</style>