<script>
import {display} from 'System/display';
import {active} from './active';

import Button from "Comp/Button.svelte";
import Cats from "./Cats.svelte";
import Tags from "./Tags.svelte";
import Tag_details from "./Tag_details.svelte";
import Cat_details from "./Cat_details.svelte";
import All_questions from "./All_questions.svelte";

active.display("cats");

$: details = $active.display === "tag_details" || $active.display === "cat_details";

</script>

<div id = {details ? "details" : "table"}>

{#if $active.display === "cats"}
	<Cats/>
{:else if $active.display === "tags"}
	<Tags/>
{:else if $active.display === "all_in_cat" || $active.display === "all"}
	<All_questions/> 
{:else if $active.display === "cat_details"}
	<Cat_details/>
{:else if $active.display === "tag_details"}
	<Tag_details/>
{/if}
	

{#if $active.display === "cats"}
	<Button 
		key = 1
		style = "submenu"
		fce = {()=>{
			display.menu();
		}}
	>
		Exit
	</Button>
	<Button 
		key = 2
		style = "submenu"
		fce = {()=>{
			active.display("tags");
		}}
	>
		Tags
	</Button>

{:else if $active.display === "tags"}
	<Button 
		key = 1
		style = "submenu"
		fce = {()=>{
			display.menu();
		}}
	>
		Exit
	</Button>
	<Button 
		key = 2
		style = "submenu"
		fce = {()=>{
			active.display("cats");
		}}
	>
		Categories
	</Button>

{:else if $active.display === "tag_details"}
	<Button 
		key = 1
		style = "submenu"
		fce = {()=>{
			active.display("tags");
		}}
	>
		Back
	</Button>

{:else}
	<Button 
		key = 1
		style = "submenu"
		fce = {()=>{
			active.display("cats");
		}}
	>
		Back
	</Button>
{/if}



{#if $active.display === "cat_details"}
	<Button 
		key = 2
		style = "submenu"
		fce = {()=>{
			active.move(1);
		}}
	>
		Previous
	</Button>
	<Button 
		key = 3
		style = "submenu"
		fce = {()=>{
			active.move(-1);
		}}
	>
		Next
	</Button>
{/if}

</div>

<style>
#table {
	 margin: auto;
     width: fit-content;
}

#details {
	width: 80ch;

	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
</style>