<script>
import {deliver_cats, deliver_tags} from 'System/deliver_data';
const tags = deliver_tags();
const cats = deliver_cats();

import {tag_weight} from 'System/questions/tag_weight';
import {cap} from 'Dh';

import {active} from './active';

$: id = $active.tag;
$: tagy = tags[id];


$: indices = cats.map( (cathy, index) => cathy.tags.includes(id) ? index : undefined	).filter( a => a !== undefined);
$: cathys = indices.length;
$: sum = indices.reduce( (sum, index) => sum + cats[index][0].length + cats[index][1].length +  cats[index][2].length, 0);



function open(category){
	active.teleport(category, 0, 0);
	active.display("cat_details");
}


</script>

<h2> 
{cap(tagy.name || id)}
</h2>

<table>
	<tr>
		<td>ID: </td>
		<td>{id}</td>
	</tr>
	{#if tagy.desc}
		<tr>
			<td>Description: </td>
			<td>{tagy.desc}</td>
		</tr>
	{/if}
	<tr>
		<td>Weight: </td>
		<td>
				{@html tag_weight($active.tag).report}
		</td>
	</tr>
	<tr>
		<td>Questions: </td>
		<td>
			{sum}
		</td>
	</tr>
	<tr>
		<td>Categories: </td>
		<td>
			{cathys}
		</td>
	</tr>

	<tr>
		<td>List: </td>
		<td>
			{#each indices as index}	
				<span on:click={()=>open(index)}>{cats[index].id}; </span>
			{/each}
		</td>
	</tr>


	

	
</table>






<style>
	span {
		/*padding: 0ch 1ch;*/
		color: var(--high); 
		cursor: pointer;
	}
	
	span:hover {
		color: var(--bgr); 
		background: var(--high); 
	}

	td {
		padding: 0.5ch 1ch;
		/*vertical-align: baseline;*/
		max-width: 70ch;
	}
	
	table {
		margin: 2ch 0ch;
	}
</style>