<script>
import {deliver_cats, deliver_tags} from 'System/deliver_data';
const tags = deliver_tags();
const cats = deliver_cats();

import {tag_weight} from 'System/questions/tag_weight';

import {cap} from 'Dh';

import {active} from './active';


let list = Object.keys(tags).map( (key, index) => {
	const tag = tags[key];
	
	const indices = cats.map( (cathy, index) => cathy.tags.includes(key) ? index : undefined	).filter( a => a !== undefined);
	const cathys = indices.length;
	const sum = indices.reduce( (sum, index) => sum + cats[index][0].length + cats[index][1].length +  cats[index][2].length, 0);

	return {
		id: key,
		name: cap(tag.name || key), 
		desc: tag.desc || "", 
		enabled: !tag.hidden,
		sum,
		cathys, 
		indices,
		weight: tag_weight(key).weight,
	};
})


//https://svelte.dev/repl/08aca4e5d75e4ba7b8b05680f3d3bf7a?version=3.23.1
const sort_by = {col: "index", ascending: true};
	
$: sort = (column) => {  
	
	if (sort_by.col == column) {
		sort_by.ascending = !sort_by.ascending
	} else {
		sort_by.col = column
		sort_by.ascending = true
	}
	
	// Modifier to sorting function for ascending or descending
	const direction = (sort_by.ascending) ? 1 : -1;
	
	const sort = (a, b) => 
		(a[column] < b[column]) 
		? -1 * direction 
		: (a[column] > b[column]) 
		? 1 * direction 
		: 0;
	
	list = list.sort(sort);
}


function open(input){
	active.teleport(input, 0, 0);
	active.display("cat_details");
}

function open_tag(tag){
	if( !tags[tag] ) return;
	active.tag(tag);
	active.display("tag_details");
}

</script>


<table>
	<thead>
		<tr>
			<th on:click={sort("id")}>id</th>
			<th on:click={sort("name")}>name</th>
			<th on:click={sort("enabled")}>👁</th>
			<th on:click={sort("desc")}>desc</th>
			<th on:click={sort("sum")}>questions</th>
			<th on:click={sort("cathys")}>categories</th>
			<th on:click={sort("indices")}>categories</th>
			<th on:click={sort("weight")}>weight</th>
		</tr>
	</thead>
	<tbody>
		{#each list as row}
			<tr>
				<td on:click={open_tag(row.id)}>{row.id}</td>
				<td on:click={open_tag(row.id)}>{row.name}</td>
				<td on:click={open_tag(row.id)}>{row.enabled ? "Y" : "N"}</td>
				<td on:click={open_tag(row.id)}>{row.desc}</td>
				<td on:click={open_tag(row.id)}>{row.sum}</td>
				<td on:click={open_tag(row.id)}>{row.cathys}</td>
				<td class = "disabled">
					{#each row.indices as index}
						<span on:click={open(index)}>{cats[index].id}; </span>
					{/each}
				</td>
				<td on:click={open_tag(row.id)}>{row.weight}</td>
			</tr>
		{/each}
	</tbody>
</table>




<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		width: auto;
		padding: 0.25ch 0.5ch;
		cursor: pointer;
		color: var(--high); 
	}
	table {
		text-align: center;
		margin: 3ch 0ch;
	}
	th{
		padding: 1ch 2ch;
		color: var(--bgr); 
		background: var(--high); 
	}
	
	td:hover{
		color: var(--bgr); 
		background: var(--high); 
	}

	th:hover{
		background: var(--background_2); 
		color: var(--high); 
	}

	.disabled{
		color: var(--high); 
		background: var(--bgr); 
	}
	.disabled:hover{
		color: var(--high); 
		background: var(--bgr); 
	}
	
	span:hover{
		color: var(--bgr); 
		background: var(--high); 
	}

</style>