<script>
import {beforeUpdate} from 'svelte';
import {display} from 'System/display';
import {keyboard} from 'System/keyboard';

import Menu from "Gui/Menu.svelte";
import System_texts from "Gui/System_texts.svelte";
import Questions_viewer from "Gui/questions_viewer/Questions_viewer.svelte";

import Settings_main from "Gui/settings/Main.svelte";
import Settings_style from "Gui/settings/Style.svelte";
import Settings_questions from "Gui/settings/Questions.svelte";
import Settings_tag_weight from "Gui/settings/Tag_weight.svelte";
import Settings_extra from "Gui/settings/Extra.svelte";

import Start from "Gui/game/Start.svelte";
import Game from "Gui/game/Game.svelte";

import Bottom from "Gui/Bottom.svelte";

import Popup from "Libraries/popup/Component.svelte";


beforeUpdate(() => {
	keyboard.reset();
});


$: screen = $display.screen;
$: subscreen = $display.subscreen;
$: subsubscreen = $display.subsubscreen;


</script>


<Popup/>

{#if screen === "questions_viewer"}
	<Questions_viewer/>
{:else if screen === "game"}
	<div id = "outer">
		<div id = "inner">
			<Game/>
		</div>
	</div>
{:else if screen === "start"}
	<div id = "outer">
		<div id = "inner">
			<Start/>
		</div>
	</div>
{:else}
	<div id = "outer">
		<div id = "inner">
			{#if screen === "settings"}
				{#if subscreen === "main"}
					<Settings_main/>
				{:else if subscreen === "style"}
					<Settings_style/>
				{:else if subscreen === "extra"}
					<Settings_extra/>
				{:else if subscreen === "questions"}
					{#if subsubscreen === "tag_weight"}
						<Settings_tag_weight/>
					{:else}
						<Settings_questions/>
					{/if}
				{:else}
					<Menu/>
				{/if}
			{:else if screen === "more"}
				{#if subscreen === "changelog"}
					<System_texts key = "changelog"/>
				{:else if subscreen === "credits"}
					<System_texts key = "credits"/>
				{:else if subscreen === "errata"}
					<System_texts key = "errata"/>
				{:else}
					<Menu/>
				{/if}
			{:else}
				<Menu/>
			{/if}
		</div>
		<Bottom/>
	</div>
	
{/if}

<style>
#outer{
	display: flex;
	flex-direction: column;
/*	background-color: navy; */
	min-height: 100vh;
}


#inner{
	margin: auto;
	min-width: 50ch;
	padding-bottom: 2ch;
/*	background-color: red; */
}
</style>


