<script>
import Button from "Comp/Button.svelte";
import Back from "Comp/Button.svelte";
import {display} from 'System/display';
import {debug} from 'Src/variables';


import {get} from 'svelte/store';
import {game} from 'Game';
import {deliver_text} from 'System/deliver_text';


const start = get(game).phase ? [
		{
			text: "CONTINUE",
			screen: "game",
			exec: ()=>{
				deliver_text(); //TODO - STUPID TEMPFIX!!
				game.next()	
			},
		},
		{
			text: "New Game",
			screen: "start",
		}
	] : [
		{
			text: "PLAY",
			screen: "start",
		},
]; 

const main = [
	...start, 
	{
		text: "Sandbox",
		screen: "sandbox",
	},
	{
		text: "Settings",
		screen: "settings",
	},
	{
		text: "More",
		screen: "more",
	},
];

 


const more = [

/**/
{
		text: "Back",
		screen: "menu",
	},
	{
		text: "Changelog",
		subscreen: "changelog",
	},
	{
		text: "Credits",
		subscreen: "credits",
	},
	{
		text: "Errata",
		subscreen: "errata",
	},
	{
		condit: true,
		text: "#Question Viewer",
		screen: "questions_viewer",
		subscreen: "",
	},
 
];


const settings = [
	{
		text: "Back",
		screen: "menu",
	},
	{
		text: "Main",
		subscreen: "main",
	},
	{
		text: "Style",
		subscreen: "style",
	},
	{
		text: "Questions",
		subscreen: "questions",
	},
	{
		text: "Extra",
		subscreen: "extra",
	},
];


$: items = (()=>{switch( $display.screen ){
	case "more": return more;
	case "settings": return settings;
	default: return main;
}})();

</script>



	<Back/>
	
	{#each items as { text, screen, subscreen, exec }, i}
		<Button 
			key = {i + 1}
			style = "menu"
			fce = {()=>{
				if(exec) exec();
				display.screen(screen, subscreen)
			}}
		>
			{@html text}
		</Button>
	{/each}





<style>
/*
<div id = "column"></div>
 it is so stupid to use translating for simple centering but it works so whatever */
/*#column{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	padding-bottom: 3em;

}
*/
</style>
