<script>
import Back from "Comp/Back.svelte";
import {display} from 'System/display';
import {process} from 'System/write/process_text';

import changelog from 'Root/changelog.md?raw'
import credits from 'Root/credits.md?raw'
import errata from 'Root/errata.md?raw'

export let key = "";

let text  = process(
	(()=>{ switch(key){
		default:
		case "changelog": return changelog;
		case "credits": return credits;
		case "errata": return errata;
	}})(),
	"sys_tex",
);

</script>

<div id = "text">

	{@html text}
	<br>

	<Back/>

</div>


<style>
#text {
	max-width: 80ch;
}
</style>