<script>
import Button from "Comp/Button.svelte";
import {display} from 'System/display';

export let key = 1;
export let text = "Back";
export let fce = ()=>{
	display.back();
};
export let style = "submenu";
export let disabled = false;
export let alt = "";

function trigger(){

}

</script>

<Button 
	{key}
	{style}
	{fce} 
	{disabled}
	{alt}
>
	{text}
</Button>
