<script>
import {afterUpdate} from 'svelte';
//import {settings} from 'System/settings;
import {keyboard} from 'System/keyboard';

export let key = undefined;
export let text = "empty";
export let fce = ()=>{};
export let style = "small";
export let disabled = false;
export let untab = false;
export let alt = "";

if(disabled) fce = ()=>{};
const prefix = key ? key+". " : "";


let button; 

afterUpdate(() => {
	if(key) keyboard.add(key, fce);
	if(untab || disabled)  button.setAttribute("tabindex","-1");
});




/*
//TODO - it is fucking stupid to do it this way 
let divy;
function enter(){

	divy.style.color = $settings.style.bgr;
	divy.style.background = $settings.style.high;0

}
function leave(){
	divy.style.color = $setting.style.high;
	divy.style.background =  $setting.style.bgr;
}

	bind:this = {divy}
	on:mouseenter={enter}
	on:mouseleave={leave}
*/
</script>


<button 
	bind:this = {button}
	class = {style}
	on:click= {fce} 
	title = {alt}
>
	{#if disabled}
		<strike><slot></slot></strike>
	{:else}
		{prefix}<slot></slot>
	{/if}
</button>


<style>


 

</style>