<script>

export let input = [1, 1, 1];

import { Doughnut } from 'svelte-chartjs';
import {
	Chart as ChartJS,
	Title,
	Tooltip,
	ArcElement,
	CategoryScale,
} from 'chart.js';

ChartJS.register(Title, Tooltip, ArcElement, CategoryScale);

const data = {
  labels: ["Right", "Wrong", "Unanswered"],
  datasets: [
    {
      data: input,
      backgroundColor: [
		"hsla(80, 100%, 45%, 1)",
		"hsla(15, 100%, 45%, 1)",
		"hsla(80,     0%, 45%, 1)",
	  ],
      hoverBackgroundColor: [
        "hsla(90, 100%, 60%, 1)",
        "hsla(  5, 100%, 60%, 1)",
		"hsla(80,     0%, 60%, 1)",
      ],
    },
  ],
};


</script>

	<div id = "graph">
		<Doughnut {data}/>
	</div>
	
	
<style>

#graph{
	padding: 3ch;
	width: 200px;
	height: 200px;
}

/*
@media only screen and (max-width: 500px) {
	#graph{
		padding: 3ch;
		width: 150px;
		height: 150px;
		margin: auto;
	}
}
*/
 

</style>