/* BUTTON - default small button */
button{
	border: none;
	background: none;
	color: var(--high); 

	font-size: 100%;
	font-weight: bold;
	
	padding: 1ch 1ch;
	text-align: left;
	border-radius: 1ch;
	
	cursor: pointer;
	display: inline-block; 
}

button:hover {
	color: var(--bgr); 
	background: var(--high); 
}


/* MENU - big buttons used in the main menu  */
.menu{
	border: none;
	background: none;
	color: var(--high); 

/*	font-family: fancy; */
	font-size: 160%;
	font-weight: bold;
	
	padding: 1ch 1ch;
	text-align: center;
	border-radius: 1ch;
	
	cursor: pointer;

	display: block;
    margin: auto;
	width: 100%;
}



/* SUBMENU - big buttons, used for "Confirm" & "Back" */
.submenu{
	border: none;
	background: none;
	
	color: var(--high); 
/*	font-family: regular; */
	font-size: 140%;
	font-weight: bold;
	
	padding: 0.5ch 0.5ch;
	text-align: center;
	border-radius: 1ch;
	
	cursor: pointer;
	
	display: block;
    margin: auto;
	width: 100%;
}





.big{
	border: none;
	background: none;
	
	color: var(--high); 
/*	font-family: regular; */
	font-size: 120%;
	font-weight: bold;
	
	padding: 0.5ch 1ch;
	text-align: left;
	border-radius: 1ch;
	
	cursor: pointer;
	
	width: 100%;
}




.reply{
	border: none;
	background: none;
	
	color: var(--high);  
/*	font-family: regular; */
	font-size: 110%;
	font-weight: bold;
	
	padding: 0.5ch 1ch;
	text-align: left;
	border-radius: 1ch;
	
	cursor: pointer;
	
	width: 100%;
}


.tiny{
	border: none;
	background: none;
	
	color: var(--text);  
/*	font-family: regular; */
	font-size: 80%;
	font-weight: bold;
	
	padding: 0.5ch 1ch;
	text-align: right;
	border-radius: 1ch;
	
	cursor: pointer;
	
	width: fit-content;
}


/* DEFAULT LINKS */

/* unvisited link */
a:link {
	color: var(--high); 
	 text-decoration: none;
}

/* visited link */
a:visited {
	color: var(--high); 
}

/* mouse over link */
a:hover {
	color: var(--bgr); 
	background-color: var(--high); 
}

/* selected link */
a:active {
	color: var(--bgr); 
	background-color: var(--high); 
}




.spoiler {
	color: var(--brg); 
	background-color: var(--text); 
	cursor: pointer;
}
.spoiler:hover {
	color: var(--text); 
	background-color: var(--bgr); 
}


