/*

:root{
			--background: hsla(50, 75%, 75%, 1);
			--background_2:  hsla(44, 92%, 48%, 1);
			--highlight: hsla(10, 100%, 40%, 1);
			--text: hsla(10, 90%, 20%, 1);
		}

*/


/* VARIABLES (beware, these values are just placeholders, colors are rewritten by Javascript based on defalut (/src/system/variables) or user defined (from localStorage) */
:root{
	/* the default colour of text */
	--text: black;
	
	/*  the main font colour, sharp pink-red (#d60059) */
	--high: hsla(335, 100%, 42%, 1);

	/* the main background colour, 90% white with light red tint (#f2eded) */
	--bgr: hsla(0, 16%, 94%, 1);




	/* the default colour of Walter's speech, green */
	--walter: hsla(103, 59%, 42%, 1);
		
	
	/* background of active links, looks a bit better than using the main font colour (#FB004C;) */
	--hoover_back: hsla(342, 100%, 49%, 1);
	
	
	/*
		accessed by:
			var(--highlight); 	
			var(--bgr);
			var(--text); 	
		eg:
			background-color: var(--bgr); 
	*/
	
	--def_highlight: hsla(335, 100%, 42%, 1);
	--def_bgr: hsla(0, 16%, 94%, 1);
}




body {
	background-color: var(--bgr); 
	color: var(--text); 
	/*font-size: 10%;*/
}

input{
	accent-color: var(--high); 
}

label{
	cursor: pointer;
}


h1 {
	color: var(--high); 
	text-align: center;
}

h2 {
	color: var(--high); 
	text-align: left;
}

h3 {
	color: var(--text); 
	text-align: left;
}



